@keyframes In {
  from {
    width: var(--width-out);
  }
  to {
    width: var(--width-in);
  }
}

@keyframes Out {
  from {
    width: var(--width-in);
  }
  to {
    width: var(--width-out);
  }
}

.enterAnimation {
  animation: In var(--default-transition-duration) var(--default-bezier);
}

.enterDoneStyles {
  width: var(--width-in);
}

.exitAnimation {
  animation: Out var(--default-transition-duration) var(--default-bezier);
}

.exitDoneStyles {
  width: var(--width-out);
}

.enter {
  composes: enterDoneStyles;
}

.enterActive {
  composes: enterAnimation;
}

.enterDone {
  composes: enterDoneStyles;
}

.appear {
  composes: enterDoneStyles;
}

.appearActive {
  composes: enterAnimation;
}

.appearDone {
  composes: enterDoneStyles;
}

.exit {
  composes: exitDoneStyles;
}

.exitActive {
  composes: exitAnimation;
}

.exitDone {
  composes: exitDoneStyles;
}
