@value Typo from '../Typo/Typo.module.css';

.Container {
  /* position: relative; */
  z-index: 0;
  height: 100%;
}

.Container .Typo {
  margin-top: var(--spacing-3xs);
}

.Spinner {
  pointer-events: none;
}

.Container .Typo,
.Spinner {
  position: relative;
  z-index: 1;
}

.Container.WithBackdrop::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--soft-black-alpha-10);
}
